EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyDKsvQ1teF3urWQ_aEjw00vfb_wnmu30sk
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=momentum-ae34d.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=momentum-ae34d
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=momentum-ae34d.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=449505328386
EXPO_PUBLIC_FIREBASE_APP_ID=1:449505328386:android:d21dda37a9e6c2f640561b
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=
EXPO_PUBLIC_FIREBASE_APP_CHECK_DEBUG_TOKEN=
